<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario Equipos</title>
  </head>
  <body>
    <p>Buscando la aplicacion de nombre: {{nombreapp}}</p>
    <p>Resultados:</p>
    {% if equipos %}

    <ul>
        {% for equipo in equipos %}
            <p>Equipo:</p>
            <li>{{equipo.nombre}}</li>
            <br>
            <p>Nombre de la aplicacion principal productiva:</p>
            <li>{{equipo.nombreapp}}</li>
        {% endfor %}

    </ul>
    {% endif %}
  </body>
</html>